<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>Game-Detail</ion-title>
    <ion-buttons slot="primary">
    <ion-button (click)="onDeleteGame()">
      <ion-icon name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-img [src]="loadedGame.imageUrl"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>{{ loadedGame.title }}</h1>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
      <ion-list>
        <ion-item >
          {{loadedGame.gamenames}}
        </ion-item>
      </ion-list>
        </ion-col>
      </ion-row>

  </ion-grid>


</ion-content>
